* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: thistle;
}

#rood {
    display: flex;
    justify-content: center;
}




.recipe {
    display: flex;
    width: 60%;
    padding: 20px;
    border: 2px solid rgb(42, 11, 153);
    border-radius: 220px;
    background-color:wheat;
    
    margin-top: 20px;
    margin-left: 20%;
    justify-content: space-between;
    align-items: center;
    

}


.recipie-enter {
    opacity: 0;
  }
  .recipie-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .recipie-exit {
    opacity: 1;
  }
  .recipie-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  